<!DOCTYPE html>
<html>
  <head>
    <title>Where is Grey?</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"/>
  </head>
  <body>
    <!-- Hack to ensure cyclist svg is loaded early -->
    <img src="/cyclist.svg" style="display: none">

    <div id="app"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>&libraries=geometry"></script>
    <script type="text/javascript">
      // Define variables for use in the app
      window.appData = {
        latestCheckin: <%= latest_check_in.to_json %>,
        paths: <%= paths.to_json %>,
        photos: <%= photos.to_json %>,
        daysOnTheRoad: <%= days_on_the_road.to_json %>,
        google: google,
      }
    </script>
    <script type="text/javascript" src="/geoxml3.js"></script>
    <script type="text/javascript" src="/app.js"></script>
  </body>
</html>
